<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    CombiApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CombiApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="../../assets/img/imagen1.jpg" alt="">
    <img src="../../assets/img/person_FILL0_wght400_GRAD0_opsz48.svg" alt="#">
    <br>
    <strong position="floating">Bienvenido</strong>
    <h2>Luis Miguel</h2>
    <br>
    <ion-icon name="lock-closed-outline"></ion-icon>
      <ion-item>
        <ion-label  color="light"position="floating">Contraseña</ion-label>
        <ion-input color="light" type="password" #password></ion-input>
      </ion-item>
      <br>
      <ion-button href="/login" color="secondary">iniciar</ion-button>
      
  </div>
</ion-content>
