<ion-header>
  <ion-toolbar>
    <ion-title>CombiApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="boton3">
  <ion-row>
    <ion-col size="9">
      <ion-searchbar color="light" placeholder="Buscar"></ion-searchbar>
 </ion-col>
 <ion-col size="3">
  <ion-icon name="menu-outline"></ion-icon>
 </ion-col>
  </ion-row>
  <img src="../../assets/img/mapa.jpg" alt="">
  <ion-button href="/login" color="warning">Regresar</ion-button>
  <ion-button href="/home" color="danger">Cerrar sesión</ion-button>
</ion-content>
